/* Clase para el contenedor principal */
.labios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Clase para cada labio */
  .labio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .labio-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  .labio-image:hover {
    transform: scale(1.2);
  }
  
  .labio-name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  