
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
h1{
    font-family: 'Noto Serif JP', serif;
    font-weight: 200;
    font-size: 3em;
    letter-spacing: 0.1em;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    color: #B22222;
}